.button-top {
  display: none;
  position: fixed;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  right: 17px;
  bottom: 17px;
  background: $Accent;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  transition: display 0.5s ease-in-out;
  opacity: 0.6;
  &-ico {
    color: $white;
    font-size: 24px;
    position: absolute;
    top: 8px;
    left: 8px;
  }
  &:hover {
    transition: 0.3s ease-in-out;
  }
  &_visible {
    display: block;
  }
}
