.hero {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  height: 500px;
  background: no-repeat center url("../../images/Hero/hero.webp");
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include sm {
    height: 600px;
  }
  @include md {
    height: 900px;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  &__subtitle {
    margin: 17px 0 35px 0;
    font-weight: 800;
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    padding: 0 10px;
    color: $white;
    max-width: 800px;
    @include sm {
      font-size: 38px;
      line-height: 54px;
    }
    @include md {
      font-size: 48px;
      line-height: 64px;
    }
  }
  &__button {
    width: 200px;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 30px;
  }
}
