// colors
$Accent: #4985ff;
$dark: #323232;
$gray: rgba(153, 153, 153, 0.5);
$light-gray: #e0e0e0;
$white: #ffffff;
$black: #000000;
$background-gray: #f6f6f8;
$background-white: #ffffff;
$error: #ef4747;

// breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1440px;
// font
$font-family: "Montserrat", sans-serif;

// overlay
$shadow: 0 0 10px rgba(111, 111, 111, 0.25);
